{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/borrowedBooks.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ScrollBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/List-of-Book.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchButtonAll.css' %}">
</head>
<body>
     <nav class="nav-large">
            <div class="nav-logo">
                <a href="{% url 'index' %}">Library</a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'ListUser' %}">Books</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="{% url 'user_profile' %}">Profile</a></li>
                <li><i class="fa fa-search search" aria-hidden="true"></i></li>
                <li>
                    <span id="user-name-large" style="margin-right: 10px; font-weight: bold;">
                        {% if user.is_authenticated %}{{ user.username }}{% endif %}
                    </span>
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="sign-in-btn">Sign out</button>
                        </form>
                    {% else %}
                        <button class="sign-in-btn" onclick="window.location.href='{% url 'signin' %}'">Sign in</button>
                    {% endif %}
                </li>
            </ul>
        </nav>
   
    <div class="borrowed-books">
        <div class="list-of-book">
            <div class="borrowed-list">
                
            </div>
            <div class="nav-buttons">
                <a href="{% url 'books:ListUser' %}" class="back-btn">Back to Book List</a>
            </div>
        </div>
    </div>
    
    <script src="/static/js/ListOfBooks.js" defer></script>
    <script src="{% static 'js/borrowedBooks.js' %}" defer></script>
    <script src="{% static 'js/searchButtonAll.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>
